{% extends "layout.html" %}

{% block main %}

<section id="trend" >

    <h1 style="text-align: center;">Favorites</h1>
  
    <div class="container-flexs">
      {% for product in products %}
    <div class="card item-flexs" >
      <img src="{{ url_for('static', filename='img/keyboard-product.png') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product["product_name"]}}</h5>
        <p class="card-text">{{product["description"]}}</p>
        <p class="card-text">Price: {{product["price"]}} $</p>
        <p class="card-text">Stock quantity: {{product["stock_quantity"]}}</p>
        <form action="/rem">
          <input type="text" hidden value="{{ product[product_id]}}" name = "id">
          <button type="submit">Remove Favorties</button> 
        </form>
        <button class="btn btn-primary float-right">order</button>
      </div>
    </div>
    {% endfor %}
    </div>
  </section>
  {% endblock %}