{% extends "layout.html" %}

{% block main %}
<section id="introduction">
    <div class="container-fluid">
    <!-- Content here -->
    <div class="row">
        <div class="intro"><h1>Empower Your<span class="text-primary"> Digital Lifestyle:</span></h1>
          <p class="headers">Elevate Every Click, Every Pixel, Every Connection. Discover a World of Possibilities at NEXT-GENERATION Computer Accessory Store - Where Innovation Meets Accessory<span class="text-primary"> Excellence!</span></p>
      </div>
  </div>
    </div>
</section>

<section id="Bytype" >

  <h1 style="text-align: center;">BY type</h1>
  <div class="container-flexs">
  <div class="card item-flexs">
    <img src="{{ url_for('static', filename='img/computer-cables.png') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Card title</h3>
    </div>
  </div>
</div>

</section>


<section id="trend" >

  <h1 style="text-align: center;">Trend</h1>

  <div class="container-flexs">
  <div class="card item-flexs" >
    <img src="{{ url_for('static', filename='img/keyboard-product.png') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="">Favories</a>
      <a href="">Description</a>
      <button class="btn btn-primary float-right">order</button>
    </div>
  </div>
  </div>
</section>
{% endblock %}