<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXT-GENERATION: {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/b1dbb45f8e.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="postiones">
  <div class="bg-body-tertiary" style="text-align: right; width: 100%; padding-right: 30px;">
    {% if not session["user_id"] %}
    <a href="{{ url_for('login') }}"  class="btn btn-light">Login</a>
    <a href="{{ url_for('signup') }}"  class="btn btn-primary">Signup</a>
    {% else %}
    <a href="{{ url_for('logout') }}"  class="btn btn-light">Logout</a>
    <a href="{{ url_for('personal') }}"  class="btn btn-primary"><i class="fa-solid fa-user"></i></a>
    {% endif%}

  </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NEXT-GENERATION </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </div>
  <main>
    {% block main %}

    {% endblock %}
  </main>

  <footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <p>Email: NEXT-GENERATION@gmail.com</p>
                <p>Phone: +1 (555) 123-4567</p>
            </div>

            <div class="col-md-4">
                <h3>Follow Us</h3>
                <ul class="list-unstyled">
                    <li><a href="#" target="_blank">Facebook</a></li>
                    <li><a href="#" target="_blank">Twitter</a></li>
                    <li><a href="#" target="_blank">Instagram</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3>Quick Links</h3>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="{{ url_for('about')}}">About Us</a></li>
                    <li><a href="{{ url_for('contact')}}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Feedback Form -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="text-center mb-4">Feedback Form</h3>
                <form action="/feedback" method="post">
                    <div class="form-group">
                        <label for="feedbackName">Name:</label>
                        <input name="name" type="text" class="form-control" id="feedbackName" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="feedbackEmail">Email:</label>
                        <input name="email" type="email" class="form-control" id="feedbackEmail" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="feedbackMessage">Message:</label>
                        <textarea name="message" class="form-control" id="feedbackMessage" rows="3" placeholder="Enter your feedback"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Feedback</button>
                </form>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <p>&copy; 2023 NEXT-GENERATION Computer Accessory Store. All rights reserved.</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
